:root{
  --color-primary: #F7CC07;
  --color-dark: #333;
  --color-light: #f5f5f5;
  --color-error: rgb(230, 41, 41);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--color-dark) !important;
}

.container{
  top: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 3rem 0 3rem;
}

.logo{
  padding: 0 2rem 0 2rem;
  width: 27rem;
  animation: float 3s ease-in-out infinite;
}

.divForm{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-dark);
  padding: 20px;
  padding-top: 0px;
  border-radius: 50px;
}

.divUser{
  padding-bottom: 1.5rem;
}

.divPass{
  padding-bottom: 2rem;
}

.input{
  margin-bottom: 0.7rem;
  padding: 0.7rem;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-light);
  background-color: transparent;
  outline: none;
}

.textError{
  color: var(--color-error);
  font-size: 1.5rem;
}

.button{
  margin-top: 1rem;
  font-size: 1.8rem;
  padding: 1rem;
  width: 11rem;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
}

.button:hover{
  color: var(--color-dark);
  background-color: var(--color-primary);
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(12px);
  }
}